<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Node Web Site</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/Bootstrap/bootstrap.css">
</head>
<body>
  <h1>CoffeeScript Rocks!</h1>
</body>
</html>